<% include common/header %>
<!-- content -->

<div id="page-content" class="container">
    <div class="section-w-image">
        <div class="row">
            <div class="col-sm-7 about-img"><p></p></div>
            <div class="col-sm-5 col-sm-offset-7 about-description">
                <h4>无界之家</h4>
                <p>无界之家隶属北京云淘科技有限公司，作为全球臻品家居买手，以先锋的品味和态度甄选意大利及欧美顶级家居品牌。深耕欧洲市场多年，与欧洲知名品牌和供应商建立战略合作，去除中间供应链环节，平行进口顶级家具和家居产品，为用户带来高性价比的国际顶级品质家居产品。</p>
                <p>最专业的进口家具直购电商平台。</p>
                <p>为您甄选Poliform, B&B Italia, Minotti, Moroso, Cassina, Baxter, Flexform, Molteni&C, Giorgetti等意大利、德国、北欧顶级家具品牌。</p>
                <p>欧洲、美国本地供应链团队，与主流知名品牌建立战略合作。</p>
                <p>同步意大利、德国、北欧、美国零售价（仅相当于国内卖场零售价的一半）。</p>
                <p>设计团队一站式解决家具搭配、设计需求。</p>
                <p>100％原产地标识证书，全程无忧的物流运输、安装售后三年质保。</p>
                <p>只需一半的价格 购买顶级进口家具。</p>
            </div><!-- / about-description -->
        </div><!-- / row -->
    </div><!-- / section-w-image -->
</div><!-- / container -->

<!-- / content -->
<% include common/footer %>
