<% include common/header %>
<!-- faq -->
<section id="about">
    <div class="container">
        <div class="row">
            <h4 class="text-center">常 见 问 题</h4>
            <div class="col-sm-6">
                <div class="panel-group tabbed">
                    <div class="panel">
                    <div class="panel-heading">
                        <a class="panel-title" data-toggle="collapse" href="#panel1">进口家具关税是多少？</a>
                    </div>
                    <div id="panel1" class="panel-collapse collapse in">
                        <div class="panel-body text-gray">
                        一般进口家具（床，椅子，柜子等）是0关税，增值税17%。有些家具材质涉及濒危物种或者非濒危物种，需要提供特殊物种证。
                        </div>
                    </div>
                    </div><!-- / panel -->
                </div><!-- / panel-group -->

                <div class="panel-group tabbed">
                    <div class="panel">
                    <div class="panel-heading">
                        <a class="panel-title collapsed" data-toggle="collapse" href="#panel2">通过无界之家直购家具会产生哪些费用？</a>
                    </div>
                    <div id="panel2" class="panel-collapse collapse">
                        <div class="panel-body text-gray">
                        所有按照一般贸易进口的产品均需向中国海关缴纳17%的增值税。运输费用：根据购买货品的体积，无界可为您安排海运散货运输、海运集装箱运输等方式。如您愿意承担更高的运费，我们可以帮您推荐空运。无界之家服务费为采购家具金额的15%
                        </div>
                    </div>
                    </div><!-- / panel -->
                </div><!-- / panel-group -->

                <div class="panel-group tabbed">
                    <div class="panel">
                    <div class="panel-heading">
                        <a class="panel-title collapsed" data-toggle="collapse" href="#panel3">海运运费是怎么计算的？</a>
                    </div>
                    <div id="panel3" class="panel-collapse collapse">
                        <div class="panel-body text-gray">
                        运输费用的计算相对复杂，根据货品的体积进行计算。举例来说，20-25立方米的货柜从欧洲或者美国运抵中国，加上清关手续的费用约为20,000元， 40-45立方米的货柜相关费用大约25,000元 。空运方式运输成本较高，4立方米产品所有费用约需16,000元。
                        </div>
                    </div>
                    </div><!-- / panel -->
                </div><!-- / panel-group -->
                <div class="panel-group tabbed">
                    <div class="panel">
                    <div class="panel-heading">
                        <a class="panel-title collapsed" data-toggle="collapse" href="#panel4">运输是否有可能产生损坏？</a>
                    </div>
                    <div id="panel4" class="panel-collapse collapse">
                        <div class="panel-body text-gray">
                        货品会做好最全面的包装保护措施，通常不会有任何问题。我们为您的货物按照货值的120%全程投保，一旦由于不可抗因素（天气原因导致集装箱掉进海里）发生问题，无论是补订新货、维修甚至是保险现金赔偿全部都由无界之家为您处理。
                        </div>
                    </div>
                    </div><!-- / panel -->
                </div><!-- / panel-group -->                
            </div><!-- / accordions-left -->

            <div class="col-sm-6">
                <div class="panel-group tabbed">
                    <div class="panel">
                    <div class="panel-heading">
                        <a class="panel-title collapsed" data-toggle="collapse" href="#panel5">购买费用如何支付？</a>
                    </div>
                    <div id="panel5" class="panel-collapse collapse">
                        <div class="panel-body text-gray">
                        签订《代理购买协议》后支付货款金额的50%。无界之家通过外汇管理局购买外汇支付国外厂商。家具生产完成后，您需要支付剩下的尾款，包含货品金额的50%、预估运费、预估海关税费以及清关费用、无界之家服务费。
                        </div>
                    </div>
                    </div><!-- / panel -->
                </div><!-- / panel-group -->
                <div class="panel-group tabbed">
                    <div class="panel">
                    <div class="panel-heading">
                        <a class="panel-title collapsed" data-toggle="collapse" href="#panel6">如何保证是原装进口的？</a>
                    </div>
                    <div id="panel6" class="panel-collapse collapse">
                        <div class="panel-body text-gray">
                        自2011年所有进口中国的家具产品必须提供《原产地证明》，无界之家为您代理购买的所有产品均提供原产地证明供您查阅。
                        </div>
                    </div>
                    </div><!-- / panel -->
                </div><!-- / panel-group -->

                <div class="panel-group tabbed">
                    <div class="panel">
                    <div class="panel-heading">
                        <a class="panel-title collapsed" data-toggle="collapse" href="#panel7">无界之家的一站式服务都包括哪些？</a>
                    </div>
                    <div id="panel7" class="panel-collapse collapse">
                        <div class="panel-body text-gray">
                        产品挑选建议与报价、整体搭配设计方案、购汇及海外汇款、国外厂家提货及陆运、产地出口手续办理、欧盟货品退税、跨国海运、中国海关清关服务、运抵府上的送货服务、安装售后维护3年质保。
                        </div>
                    </div>
                    </div><!-- / panel -->
                </div><!-- / panel-group -->

                <div class="panel-group tabbed">
                    <div class="panel">
                    <div class="panel-heading">
                        <a class="panel-title collapsed" data-toggle="collapse" href="#panel8">订货周期大约多长？</a>
                    </div>
                    <div id="panel8" class="panel-collapse collapse">
                        <div class="panel-body text-gray">
                        通常情况下，从国外厂商收到货款开始计算，生产周期大部分约为2-3个月，从欧洲运送到中国并完成清关送到府上一般需要2-3月，所以总共需要4-6个月。如果您选择费用高昂的空运，则可以节约1.5个月。
                        </div>
                    </div>
                    </div><!-- / panel -->
                </div><!-- / panel-group -->
            </div><!-- / accordions-right -->
        </div><!-- / row -->
    </div><!-- / container -->
</section>

<!-- / content -->
<% include common/footer %>
