<% include common/header %>
<!-- faq -->
<section id="about">
    <div class="container">
        <div class="row">
            <h4 class="text-center">购 买 流 程</h4>
            <div class="col-sm-12">
                <div class="panel-group tabbed">
                    <div class="panel">
                    <div class="panel-heading">
                        <a class="panel-title" data-toggle="collapse" href="#panel1">1. 确定家具产品</a>
                    </div>
                    <div id="panel1" class="panel-collapse collapse in">
                        <div class="panel-body text-gray">
                        无界之家与欧洲主流品牌建立紧密合作关系，您可通过我们官网了解到品牌和产品信息www.wujiehouse.com。如官网上暂时没有您喜欢的品牌产品信息，请直接通过客服电话、微信或网站右下方的客服联系我们，我们将为您提供专属服务。
                        </div>
                    </div>
                    </div><!-- / panel -->
                </div><!-- / panel-group -->
                <div class="panel-group tabbed">
                    <div class="panel">
                    <div class="panel-heading">
                        <a class="panel-title collapsed" data-toggle="collapse" href="#panel2">2.专业设计搭配建议</a>
                    </div>
                    <div id="panel2" class="panel-collapse collapse">
                        <div class="panel-body text-gray">
                        无界设计师团队竭诚为您服务，帮您进行个性化产品搭配或者空间设计，把房子变成世界上最好的家。
                        </div>
                    </div>
                    </div><!-- / panel -->
                </div><!-- / panel-group -->
                <div class="panel-group tabbed">
                    <div class="panel">
                    <div class="panel-heading">
                        <a class="panel-title collapsed" data-toggle="collapse" href="#panel3">3. 确定产品报价</a>
                    </div>
                    <div id="panel3" class="panel-collapse collapse">
                        <div class="panel-body text-gray">
                        我们将与您一起逐项确认产品细节，包括产品尺寸、材质、用料级别。在确定产品后，我们将为您提供完整报价，报价中将明确列出家具原厂地价格、退税金额、预估增值税金额、预估的运输清关费用以及我们的服务费，并会在完成清关后提供原始票据，报关运输费用实报实销，真正做到透明消费。
                        </div>
                    </div>
                    </div><!-- / panel -->
                </div><!-- / panel-group -->
                <div class="panel-group tabbed">
                    <div class="panel">
                    <div class="panel-heading">
                        <a class="panel-title collapsed" data-toggle="collapse" href="#panel4">4. 运输是否有可能产生损坏？</a>
                    </div>
                    <div id="panel4" class="panel-collapse collapse">
                        <div class="panel-body text-gray">
                        货品会做好最全面的包装保护措施，通常不会有任何问题。我们为您的货物按照货值的120%全程投保，一旦由于不可抗因素（天气原因导致集装箱掉进海里）发生问题，无论是补订新货、维修甚至是保险现金赔偿全部都由无界之家为您处理。
                        </div>
                    </div>
                    </div><!-- / panel -->
                </div><!-- / panel-group -->
                <div class="panel-group tabbed">
                    <div class="panel">
                    <div class="panel-heading">
                        <a class="panel-title collapsed" data-toggle="collapse" href="#panel4">5. 合同与付款</a>
                    </div>
                    <div id="panel4" class="panel-collapse collapse">
                        <div class="panel-body text-gray">
                        确认所有产品细节后，我们将与您签订《代理购买家具协议》并支付预付款。我们购买外汇并汇款到欧洲厂商。
                        </div>
                    </div>
                    </div><!-- / panel -->
                </div><!-- / panel-group -->    
                <div class="panel-group tabbed">
                    <div class="panel">
                    <div class="panel-heading">
                        <a class="panel-title collapsed" data-toggle="collapse" href="#panel4">6. 产品定制</a>
                    </div>
                    <div id="panel4" class="panel-collapse collapse">
                        <div class="panel-body text-gray">
                        下单后欧洲工厂开始精心打造产品，我们将实时监控产品生产进度和状态，随时与您沟通产品进展情况。
                        </div>
                    </div>
                    </div><!-- / panel -->
                </div><!-- / panel-group -->    
                <div class="panel-group tabbed">
                    <div class="panel">
                    <div class="panel-heading">
                        <a class="panel-title collapsed" data-toggle="collapse" href="#panel4">7. 结算尾款</a>
                    </div>
                    <div id="panel4" class="panel-collapse collapse">
                        <div class="panel-body text-gray">
                        国外品牌厂商完成家具生产后，无界之家将正式通知您货品预期港口发货的时间并提供尾款的付款通知书。您支付剩余50%款项、预估的增值税、预估的运费、清关费用以及无界之家服务费。
                        </div>
                    </div>
                    </div><!-- / panel -->
                </div><!-- / panel-group -->    
                <div class="panel-group tabbed">
                    <div class="panel">
                    <div class="panel-heading">
                        <a class="panel-title collapsed" data-toggle="collapse" href="#panel4">8.物流运输</a>
                    </div>
                    <div id="panel4" class="panel-collapse collapse">
                        <div class="panel-body text-gray">
                        尾款支付完成后，我们将负责从欧洲当地厂家提货并运至港口进行出口清关、退税、买保险、预定货船。保险按照货物金额的120%进行投保。我们在意大利、德国、北欧均有本地专业供应链团队，可确保产品沟通、出厂验货、港口发货、售后质保等环节无忧。
                        </div>
                    </div>
                    </div><!-- / panel -->
                </div><!-- / panel-group -->    
                <div class="panel-group tabbed">
                    <div class="panel">
                    <div class="panel-heading">
                        <a class="panel-title collapsed" data-toggle="collapse" href="#panel4">9.港口清关</a>
                    </div>
                    <div id="panel4" class="panel-collapse collapse">
                        <div class="panel-body text-gray">
                        货船到港后，卸货、海关清关、查验、商检等流程，根据港口的差异需10-15天。货物出关后，我们将安排专业物流团队将家具送至您府上，并在一个月内发给您货运公司、海关相关费用清单和发票，根据实际发生金额多退少补 。
                        </div>
                    </div>
                    </div><!-- / panel -->
                </div><!-- / panel-group -->    
                <div class="panel-group tabbed">
                    <div class="panel">
                    <div class="panel-heading">
                        <a class="panel-title collapsed" data-toggle="collapse" href="#panel4">10.免费安装、无忧售后</a>
                    </div>
                    <div id="panel4" class="panel-collapse collapse">
                        <div class="panel-body text-gray">
                        如有需要，我们将提供免费的上门安装服务， 同时提供3年售后质保服务，随时解决您的任何问题，您放心的使用美好家具。
                        </div>
                    </div>
                    </div><!-- / panel -->
                </div><!-- / panel-group -->  
            </div><!-- / accordions-left -->
        </div><!-- / row -->
    </div><!-- / container -->
</section>

<!-- / content -->
<% include common/footer %>
