<% include common/header %>
<!-- features section 3col -->
<section id="features">
    <div class="container">
        <h2 class="text-center">我 们 的 优 势</h2>
        <div class="row">
            <!-- feature-block -->
            <div class="col-md-4 feature-center bg-light">
                <div class="feature block">
                    <div class="feature-icon">
                        <i class="lnr lnr-gift"></i>
                    </div>
                    <h5>顶级产品 前沿设计</h5>
                    <p>上百欧洲大牌 各种风格和品类</p>
                </div>
            </div><!-- / col-md-4 -->
            <!-- / feature-block -->

            <!-- feature-block -->
            <div class="col-md-4 feature-center bg-dark">
                <div class="feature block">
                    <div class="feature-icon">
                        <i class="lnr lnr-clock"></i>
                    </div>
                    <h5>价格优势</h5>
                    <p>欧洲直供 全球同价</p>
                </div>
            </div><!-- / col-md-4 -->
            <!-- / feature-block -->

            <!-- feature-block -->
            <div class="col-md-4 feature-center bg-light">
                <div class="feature block">
                    <div class="feature-icon">
                        <i class="lnr lnr-exit"></i>
                    </div>
                    <h5>售后保障</h5>
                    <p>精英团队 一站式服务</p>
                </div>
            </div><!-- / col-md-4 -->
            <!-- / feature-block -->
        </div><!-- / row -->
    </div><!-- / container -->
</section>
<!-- / features section 3col -->

<!-- collections -->
<section id="collections">
    <div class="container">
        <!-- <h2 class="text-center">品 牌 推 荐</h2> -->
        <div class="row">
            <div class="col-sm-6 collection">
                <a href="/product/list?brands=245">
                    <img src="/images/home/1200-1000.jpg" alt="">
                </a>
            </div>
            <!-- / collection -->
            <div class="col-sm-6 collections">
                <div class="row">
                    <div class="col-sm-12 collection">
                        <a href="/product/list?brands=246">
                            <img src="/images/home/1200-500.jpg" alt="">
                        </a>
                    </div><!-- / collection -->
                    <div class="col-sm-6 collection">
                        <a href="/product/list?brands=252">
                            <img src="/images/home/1200-920-giorgetti.jpg" alt="">
                        </a>
                    </div><!-- / collection -->
                    <div class="col-sm-6 collection">
                        <a href="/product/list?brands=254">
                            <img src="/images/home/1200-920-porada.jpg" alt="">
                        </a>
                    </div><!-- / collection -->
                </div><!-- / row -->
            </div>
            <!-- / collections -->
        </div><!-- / row -->
        <div class="text-center more-button space-top-30">
            <a href="/brands/list" class="btn btn-default-filled"><i class="lnr lnr-sync"></i><span>查看更多</span></a>
        </div>
    </div><!-- / container -->
</section>
<!-- / collections -->

<!-- categories -->
<section id="categories">
    <div class="container">
        <!-- <h2 class="text-center">类 目 推 荐</h2> -->
        <div class="row">
            <div class="col-sm-4 category">
                <a href="/product/list?brands=252">
                    <div class="category-item">
                        <img src="/images/homec/900-900-cattelanitalia.jpg" alt="">
                        <div class="overlay">
                            <div class="caption">
                                <h4>Cattelan</h4>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4 category">
                <a href="/product/list?brands=269">
                    <div class="category-item">
                        <img src="/images/homec/900-900-minotti.jpg" alt="">
                        <div class="overlay">
                            <div class="caption">
                                <h4>Minotti</h4>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4 category">
                <a href="/product/list?brands=257">
                    <div class="category-item">
                        <img src="/images/homec/900-900-poliform.jpg" alt="">
                        <div class="overlay">
                            <div class="caption">
                                <h4>Poliform</h4>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="text-center more-button space-top-30">
            <a href="/brands/list" class="btn btn-default-filled"><i class="lnr lnr-sync"></i><span>加载更多</span></a>
        </div>
    </div>
</section>
<!-- / categories -->

<!-- shop section -->
<section id="shop">
    <div class="container">
        <div class="page-header no-margin-top text-center">
            <!-- <h3>单 品 推 荐</h3> -->
        </div><!--/ page-header -->
        <ul class="row shop list-unstyled" id="grid">
            <!-- product -->
            <li class="col-xs-6 col-md-4 product m-product" data-groups='["kitchen"]'>
                <a href="/product/detail?product=102650" class="product-link">
                <div class="img-bg-color primary">
                    <!-- <h5 class="product-price">$259</h5> -->
                    <!-- / product-link -->
                    <img src="/images/homep/900-1200-longhi.jpg" alt="">
                    <!-- / product-image -->
                    <!-- product-details -->
                    <div class="product-details">
                        <h5 class="product-title">Longhi</h5>
                        <p class="product-category">餐桌</p>
                    </div><!-- / product-details -->
                </div><!-- / img-bg-color -->
                </a>
            </li>
            <!-- / product -->   
            <!-- product -->
            <li class="col-xs-6 col-md-4 product m-product" data-groups='["living"]'>
                <a href="/product/detail?product=102750" class="product-link">
                <div class="img-bg-color primary">
                    <!-- <h5 class="product-price">$339</h5> -->
                    <a href="single-product2.html" class="product-link"></a>
                    <!-- / product-link -->
                    <img src="/images/homep/900-1200-poltrona_frau.jpg" alt="">
                    <!-- / product-image -->
                    <!-- product-details -->
                    <div class="product-details">
                        <h5 class="product-title">Poltrona frau</h5>
                        <p class="product-category">沙发</p>
                    </div><!-- / product-details -->
                </div><!-- / img-bg-color -->
                </a>
            </li>
            <!-- / product -->
            <!-- product -->
            <li class="col-xs-6 col-md-4 product m-product" data-groups='["bedroom"]'>
                <a href="/product/detail?product=3048" class="product-link">
                <div class="img-bg-color primary">
                    <!-- <h5 class="product-price">$379</h5> -->
                    <!-- / product-link -->
                    <img src="/images/homep/900-1200-Fendi_Casa.jpg" alt="">
                    <!-- / product-image -->
                    <!-- product-details -->
                    <div class="product-details">
                        <h5 class="product-title">Fendi Casa</h5>
                        <p class="product-category">其他</p>
                    </div><!-- / product-details -->
                </div><!-- / img-bg-color -->
                </a>
            </li>
            <!-- / product -->
            <!-- product -->
            <li class="col-xs-6 col-md-4 product m-product" data-groups='["kitchen"]'>
                <a href="/product/detail?product=10640" class="product-link">
                <div class="img-bg-color primary">
                    <!-- <h5 class="product-price">$269</h5> -->
                    <!-- / product-link -->
                    <img src="/images/homep/900-1200-Moroso.jpg" alt="">
                    <!-- / product-image -->
                    <!-- product-details -->
                    <div class="product-details">
                        <h5 class="product-title">Moroso</h5>
                        <p class="product-category">沙发</p>
                    </div><!-- / product-details -->
                </div><!-- / img-bg-color -->
                </a>
            </li>
            <!-- / product -->
            <!-- product -->
            <li class="col-xs-6 col-md-4 product m-product" data-groups='["living", "kitchen"]'>
                <a href="/product/detail?product=102260" class="product-link">
                <div class="img-bg-color primary">
                    <!-- <h5 class="product-price"><del>$399</del> $199</h5> -->
                    <!-- / product-link -->
                    <img src="/images/homep/900-1200-Edra.jpg" alt="">
                    <!-- / product-image -->
                    <!-- product-details -->
                    <div class="product-details">
                        <h5 class="product-title">Edra</h5>
                        <p class="product-category">餐桌</p>
                    </div><!-- / product-details -->
                </div><!-- / img-bg-color -->
                </a>
            </li>
            <!-- / product -->
            <!-- product -->
            <li class="col-xs-6 col-md-4 product m-product" data-groups='["bedroom"]'>
                <a href="/product/detail?product=102651" class="product-link">
                <div class="img-bg-color primary">
                    <!-- <h5 class="product-price">$249</h5> -->
                    <!-- / product-link -->
                    <img src="/images/homep/900-1200-B&B.jpg" alt="">
                    <!-- / product-image -->
                    <!-- product-details -->
                    <div class="product-details">
                        <h5 class="product-title">B&B</h5>
                        <p class="product-category">餐桌</p>
                    </div><!-- / product-details -->
                </div><!-- / img-bg-color -->
                </a>
            </li>
            <!-- / product -->
        </ul> <!-- / products -->
        <div class="text-center more-button space-top-30">
            <a href="/product/list" class="btn btn-default-filled"><i class="lnr lnr-sync"></i><span>查看更多</span></a>
        </div>
    </div><!-- / container -->
</section>
<!-- / shop section -->

<!-- blog section 3col -->
<section id="blog-small">
    <div class="container">
        <div class="page-header no-margin text-center">
            <!-- <h3>资 讯 推 荐</h3> -->
        </div>
        <!-- <p class="text-center space-top">Sed imperdiet vitae ipsum a tincidunt. Vivamus id ligula turpis. Duis viverra arcu quis.</p> -->
        <div class="row">

            <!-- post-block -->
            <div class="col-sm-4">
                <div class="post-block">
                    <a href="https://mp.weixin.qq.com/s?__biz=MzIxNjA3NTMxOA==&mid=2648520050&idx=1&sn=057c3c57e57a5ef58ae41bc32d058fd9&chksm=8fa7082bb8d0813d57c03200fe81f75dfb0c8510a63cbadfc4757583ef5a21714d8f5d081287&mpshare=1&scene=1&srcid=0221PYBo1uAYc3PLCFBf6Oaf&key=cbeda3c10f1469669fdc99aada0f70f0a00143ff8d4483686ffca52078bdb8494ba7ed5cb60cf7ff44f0fe5d61ce633d4a035a4c03c887510f44ef292d3a516b4e467fc52327f7086377fe6f589734bd&ascene=0&uin=MjA4MzQwNDYyMQ%3D%3D&devicetype=iMac+MacBookAir7%2C2+OSX+OSX+10.12.2+build(16C68)&version=11020201&pass_ticket=cQfqRIlL4exso3YGgwegblJjzaz%2F4b3n3w0YsJZeHMKrYIdyh%2FsdEFZKmQKn9fV5"><img src="/images/news/news1.d3107d17.png" alt=""></a>
                    <div class="small-post-text">
                        <h5><a href="single-post.html">跨越三世纪，赴一场法兰西浪漫之约|Roche Bobois</a></h5>
                        <p class="small-post-meta">AUG 16, 2016</p>
                        <p class="space-bottom">法国罗奇堡Roche obois跨越三个世纪，谱写穿越古典与现代的传奇。</p>
                    </div><!-- / small-post-text -->
                </div><!-- / post-block -->
            </div><!-- / col-md-4 -->
            <!-- / post-block -->

            <!-- post-block -->
            <div class="col-sm-4">
                <div class="post-block">
                    <a href="https://mp.weixin.qq.com/s?__biz=MzIxNjA3NTMxOA==&mid=2648520036&idx=1&sn=35ec09ce607f1d9a23ef4dbd76103971&chksm=8fa7083db8d0812b2da16f220b3ee565fa1a974274321365aeda09a285774850557cd9b4ed63&mpshare=1&scene=1&srcid=0221EnR4oiVhN9adof3zCosP&key=56dd5c9e0051fa215cd0a2fe30e0c773cb4ac014ec5a655c8f9a8a6a63051b7a978c25448ade29b371a764bb4dcb49f14ea8f104782e50e4b3de1abd0121309b38ffae9149d2954dc122d337b0f9e731&ascene=0&uin=MjA4MzQwNDYyMQ%3D%3D&devicetype=iMac+MacBookAir7%2C2+OSX+OSX+10.12.2+build(16C68)&version=11020201&pass_ticket=cQfqRIlL4exso3YGgwegblJjzaz%2F4b3n3w0YsJZeHMKrYIdyh%2FsdEFZKmQKn9fV5"><img src="/images/news/news2.ef1032b5.png" alt=""></a>
                    <div class="small-post-text">
                        <h5><a href="https://www.wujiehouse.com/static/media/news2.ef1032b5.png">一段奇妙迷幻的家居之旅|Boca Do Lobo</a></h5>
                        <p class="small-post-meta">AUG 16, 2016</p>
                        <p class="space-bottom">惊喜与感动、唤醒与渴望，Boca Do Lobo满满的正能量让人印象深刻，难以忘怀。</p>
                    </div><!-- / small-post-text -->
                </div><!-- / post-block -->
            </div><!-- / col-md-4 -->
            <!-- / post-block -->

            <!-- post-block -->
            <div class="col-sm-4">
                <div class="post-block">
                    <a href="https://mp.weixin.qq.com/s?__biz=MzIxNjA3NTMxOA==&mid=2648519806&idx=1&sn=c410277abbf3904fa475bf175176ede9&chksm=8fa70927b8d0803169d02af500e546625a5390bc808a90e1dbac5d7db6d08e379ea27839301a&mpshare=1&scene=1&srcid=0221XfHYoNUXXYtJJbrFn26f&key=0b82e4bb486200da7ac631468c3cd40dd1d2d93317a867c17607f3a7eca4b6dba5a661a8361df9ec8aefd409baf8633af1c3a12aa9801fe4d3a71b6ad00a8a8408fd5a7a5c0af3cd514dabf925c56dd6&ascene=0&uin=MjA4MzQwNDYyMQ%3D%3D&devicetype=iMac+MacBookAir7%2C2+OSX+OSX+10.12.2+build(16C68)&version=11020201&pass_ticket=cQfqRIlL4exso3YGgwegblJjzaz%2F4b3n3w0YsJZeHMKrYIdyh%2FsdEFZKmQKn9fV5"><img src="/images/news/news3.fdae47c7.png" alt=""></a>
                    <div class="small-post-text">
                        <h5><a href="single-post.html">Poliform|满足你对衣帽间的所有幻想</a></h5>
                        <p class="small-post-meta">AUG 16, 2016</p>
                        <p class="space-bottom">扫货季来袭，poliform为你的衣帽间完美升级。</p>
                    </div><!-- / small-post-text -->
                </div><!-- / post-block -->
            </div><!-- / col-md-4 -->
            <!-- / post-block -->

        </div><!-- / row -->
    </div><!-- / container -->
</section>
<!-- / blog section 3col -->
<% include common/footer %>