<% include ../common/header-nobanner %>
<section id="shop">
    <div class="container space-top-30">
        <div class="row">
            <div class="col-sm-12 product-content-area">
                <div class="product-content-area">
                    <div id="product-slider" class="carousel slide" data-ride="carousel">
                        <!-- wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <img src="https://img.wujiehouse.com/uploads/2017/02/28/ugzzh66bv0.jpg" alt="">
                            </div>
                            <div class="item">
                                <img src="https://img.wujiehouse.com/uploads/2016/12/08/b6e1r6inzi.jpg" alt="">
                            </div>
                            <div class="item">
                                <img src="https://img.wujiehouse.com/uploads/2016/12/08/1bl9r9gf3d.jpg" alt="">
                            </div>
                            <div class="item">
                                <img src="https://img.wujiehouse.com/uploads/2016/12/08/h0ajp60bug.jpg" alt="">
                            </div>
                        </div>
                        <!-- / wrapper for slides -->

                        <!-- controls -->
                        <a class="left carousel-control" href="#product-slider" role="button" data-slide="prev">
                            <span class="lnr lnr-chevron-left" aria-hidden="true"></span>
                        </a>
                        <a class="right carousel-control" href="#product-slider" role="button" data-slide="next">
                            <span class="lnr lnr-chevron-right" aria-hidden="true"></span>
                        </a>
                        <!-- / controls -->
                    </div><!-- / product-slider -->
                </div><!-- / product-content-area -->
            </div>
        </div><!-- / row -->
        <div class="row">
            <!-- product sidebar area -->
            <div class="col-sm-12 product-sidebar">
                <div class="product-sidebar-details">
                    <h4>AC Lounge Sofa</h4>
                    <p>AC Lounge Sofa为使用者提供无限舒适放松的感受，坐感紧实的坐垫和保持相同的绗缝装靠背给人安全感。脚和轮廓是镀镍，镀青铜或黑色金属。沙发AC休息室配有扶手椅及脚凳。细节设计十分贴心。</p>
                    <div class="product-info">
                        <div class="info">
                            <p><i class="lnr lnr-tag"></i><span>尺寸: L. 152 cm - P. 90 cm - H. 78 cm / L. 217 cm - P. 90 cm - H. 78 cm</span></p>
                        </div>
                        <div class="info">
                            <p><i class="lnr lnr-heart"></i><span>类目: <a href="#"> B&B Italia</a></span></p>
                        </div>
                        <div class="info">
                            <p><i class="lnr lnr-menu"></i><span>材质: 织物 皮革 聚酯填 金属</span></p>
                        </div>
                        <div class="info">
                            <p><i class="lnr lnr-star"></i><span>Reviews: <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-half-o"></i></span></p>
                        </div>
                    </div><!-- / product-info -->
                </div><!-- product-details -->
            </div><!-- / col-sm-4 col-md-3 -->
            <ul class="nav nav-tabs" role="tablist">
                <li class="active"><a href="#description" role="tab" data-toggle="tab" aria-expanded="true">DESCRIPTION</a></li>
                <li class=""><a href="#info" role="tab" data-toggle="tab" aria-expanded="false">PRODUCT INFO</a></li>
                <li class=""><a href="#reviews" role="tab" data-toggle="tab" aria-expanded="false">REVIEWS (2)</a></li>
            </ul>
            <!-- / nav-tabs -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane animated fadeIn active" id="description">
                    <p>Cras mattis odio non dolor elementum, at imperdiet nisi semper. Cras maximus placerat luctus. Praesent blandit sodales mi, sed viverra dolor venenatis sit amet. Nam non mauris odio. Vestibulum id urna eget nibh molestie tempus sit amet id lectus.</p>
                </div>
                <!-- / description-tab -->

                <div role="tabpanel" class="tab-pane animated fadeIn" id="info">
                    <div class="row">
                        <div class="col-sm-6">
                            <table>
                                <tbody>
                                    <tr>
                                        <th>Sizes:</th>
                                        <td>140, 160, 180</td>
                                    </tr>
                                    <tr>
                                        <th>Colors:</th>
                                        <td>White, Black, Wenge</td>
                                    </tr>
                                    <tr>
                                        <th>Fabric:</th>
                                        <td>Wood</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="col-sm-6">
                            <table>
                                <tbody>
                                    <tr>
                                        <th>Weight:</th>
                                        <td>50 Kg</td>
                                    </tr>
                                    <tr>
                                        <th>Made In:</th>
                                        <td>Europe</td>
                                    </tr>
                                    <tr>
                                        <th>More Info:</th>
                                        <td>Lorem ipsum.</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div><!-- / row -->
                </div>
                <!-- / info-tab -->

                <div role="tabpanel" class="tab-pane animated fadeIn" id="reviews">
                    <div class="reviews">
                        <div class="review-author pull-left">
                          <img src="images/author1.jpg" alt="">
                        </div>
                        <div class="review-content">
                            <h4 class="review-title no-margin">Amazing product!</h4>
                            <div class="review-stars">
                                <span class="product-rating">
                                    <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                </span>
                            </div><!-- / review-stars -->
                            <p>Duis luctus, neque ac ultricies bibendum, risus velit gravida velit, vestibulum laoreet orci magna vel ipsum.</p>
                            <cite> - Johana Doe</cite>
                        </div><!-- / review-content -->

                        <div class="space-25">&nbsp;</div>

                        <div class="review-author pull-left">
                          <img src="images/author2.jpg" alt="">
                        </div>
                        <div class="review-content">
                            <h4 class="review-title no-margin">Very good product!</h4>
                            <div class="review-stars">
                                <span class="product-rating">
                                    <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i>
                                </span>
                            </div><!-- / review-stars -->
                            <p>Morbi sodales ornare ex, at consectetur ipsum faucibus at. Ut facilisis orci metus, vitae hendrerit leo vulputate sit amet.</p>
                            <cite> - Jane Doe</cite>
                        </div><!-- / review-content -->

                        <!-- add review -->
                        <div id="add-review" class="space-top-30">
                            <h4>LEAVE A REVIEW</h4>
                            <div class="row">
                                <div class="col-sm-4 review-form">
                                    <input type="text" class="form-control" placeholder="*NAME" required>
                                </div>
                                <div class="col-sm-4 review-form">
                                    <input type="email" class="form-control" placeholder="*EMAIL" required>
                                </div>
                                <div class="col-sm-4 review-form">
                                    <select class="form-control">
                                        <option>5 STARS</option>
                                        <option>4 STARS</option>
                                        <option>3 STARS</option>
                                        <option>2 STARS</option>
                                        <option>1 STAR</option>
                                    </select>
                                </div>
                                <div class="col-sm-12 review-form">
                                    <textarea rows="7" class="form-control" placeholder="*REVIEW" required></textarea>
                                    <button type="submit" class="btn btn-submit btn-primary-filled btn-rounded">Submit Review</button>
                                </div>
                            </div><!-- / row -->
                        </div>
                        <!-- / add review -->
                    </div><!-- / reviews -->
                </div>
                <!-- / reviews-tab -->
            </div>
            <!-- / tab-content -->
        </div><!-- / row -->
        <div id="related-products">
            <h4 class="space-top-30 space-bottom-30 space-left">RELATED PRODUCTS</h4>
            <ul class="row shop list-unstyled" id="grid">
                <!-- product -->
                <li class="col-xs-12 col-md-4 product m-product" data-groups='["bedroom"]'>
                    <div class="img-bg-color primary">
                        <h5 class="product-price">$249</h5>
                        <a href="single-product2.html" class="product-link"></a>
                        <!-- / product-link -->
                        <img src="images/f-m-product1.jpg" alt="">
                        <!-- / product-image -->

                        <!-- product-hover-tools -->
                        <div class="product-hover-tools">
                            <a href="single-product2.html" class="view-btn" data-toggle="tooltip" title="View Product">
                                <i class="lnr lnr-eye"></i>
                            </a>
                            <a href="shopping-cart.html" class="cart-btn" data-toggle="tooltip" title="Add to Cart">
                                <i class="lnr lnr-cart"></i>
                            </a>
                        </div><!-- / product-hover-tools -->

                        <!-- product-details -->
                        <div class="product-details">
                            <h5 class="product-title">PRODUCT TITLE</h5>
                            <p class="product-category">CATEGORY</p>
                        </div><!-- / product-details -->
                    </div><!-- / img-bg-color -->
                </li>
                <!-- / product -->

                <!-- product -->
                <li class="col-xs-12 col-md-4 product m-product" data-groups='["living", "kitchen"]'>
                    <div class="img-bg-color primary">
                        <h5 class="product-price"><del>$399</del> $199</h5>
                        <a href="single-product2.html" class="product-link"></a>
                        <!-- / product-link -->
                        <img src="images/f-m-product2.jpg" alt="">
                        <!-- / product-image -->

                        <!-- product-hover-tools -->
                        <div class="product-hover-tools">
                            <a href="single-product2.html" class="view-btn" data-toggle="tooltip" title="View Product">
                                <i class="lnr lnr-eye"></i>
                            </a>
                            <a href="shopping-cart.html" class="cart-btn" data-toggle="tooltip" title="Add to Cart">
                                <i class="lnr lnr-cart"></i>
                            </a>
                        </div><!-- / product-hover-tools -->

                        <!-- product-details -->
                        <div class="product-details">
                            <h5 class="product-title">PRODUCT TITLE</h5>
                            <p class="product-category">CATEGORY</p>
                        </div><!-- / product-details -->
                    </div><!-- / img-bg-color -->
                </li>
                <!-- / product -->

                <!-- product -->
                <li class="col-xs-6 col-md-4 product m-product" data-groups='["bedroom"]'>
                    <div class="img-bg-color primary">
                        <h5 class="product-price">$379</h5>
                        <a href="single-product2.html" class="product-link"></a>
                        <!-- / product-link -->
                        <img src="images/f-m-product3.jpg" alt="">
                        <!-- / product-image -->

                        <!-- product-hover-tools -->
                        <div class="product-hover-tools">
                            <a href="single-product2.html" class="view-btn" data-toggle="tooltip" title="View Product">
                                <i class="lnr lnr-eye"></i>
                            </a>
                            <a href="shopping-cart.html" class="cart-btn" data-toggle="tooltip" title="Add to Cart">
                                <i class="lnr lnr-cart"></i>
                            </a>
                        </div><!-- / product-hover-tools -->

                        <!-- product-details -->
                        <div class="product-details">
                            <h5 class="product-title">PRODUCT TITLE</h5>
                            <p class="product-category">CATEGORY</p>
                        </div><!-- / product-details -->
                    </div><!-- / img-bg-color -->
                </li>
                <!-- / product -->

            </ul><!-- / row -->
        </div><!-- / related-products -->

    </div><!-- / container -->
</section>
<% include ../common/footer %>
