<!-- header-banner -->
<div id="header-banner" class="demo-1">
    <div class="banner-content text-center">
        <div class="banner-border">
            <div class="banner-info">
                <h1>无 界</h1>
                <p>无界之家</p>
            </div><!-- / banner-info -->
        </div><!-- / banner-border -->
    </div><!-- / banner-content -->   
</div>
<!-- / header-banner -->