<footer class="light-footer">
    <div class="widget-area">
        <div class="container">
            <div class="row">

                <div class="col-md-4 widget">
                    <div class="about-widget">
                        <div class="widget-title-image">
                            <img src="/images/logo2.png" alt="">
                        </div>
                    <div class="contact-widget">
                        <div class="info">
                            <p><i class="lnr lnr-map-marker"></i><span>北京市朝阳区望京合生麒麟社3栋408室</span></p>
                        </div>
                        <div class="info">
                            <a href="tel:+0123456789"><i class="lnr lnr-phone-handset"></i><span>400-614-0709</span></a>
                        </div>
                        <div class="info">
                            <a href="mailto:hello@yoursite.com"><i class="lnr lnr-envelope"></i><span>service@wujiehouse.com</span></a>
                        </div>
<!--                         <div class="info">
                            <i class="lnr lnr-thumbs-up"></i>
                            <span class="social text-left">
                                <a class="no-margin" href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="#"><i class="fa fa-pinterest"></i></a>
                            </span>
                        </div> -->
                    </div><!-- / contact-widget -->
                    </div><!-- / about-widget -->
                </div><!-- / widget -->
                <!-- / first widget -->

                <div class="col-md-2 widget">
                    <div class="widget-title">
                        <h4>Link</h4>
                    </div>
                    <div class="link-widget">
<!--                         <div class="info">
                            <a href="/news">无界资讯</a>
                        </div> -->
                        <div class="info">
                            <a href="/about">关于我们</a>
                        </div>
                    </div>
                </div><!-- / widget -->
                <!-- / second widget -->

                <div class="col-md-2 widget">
                    <div class="widget-title">
                        <h4>SHOP</h4>
                    </div>
                    <div class="link-widget">
                        <div class="info">
                            <a href="/product/list">所有商品</a>
                        </div>
                        <div class="info">
                            <a href="/category">所有品类</a>
                        </div>
                        <div class="info">
                            <a href="/brands/list">所有品牌</a>
                        </div>
                        <div class="info">
                            <a href="/flow">如何购买</a>
                        </div>
                    </div>
                </div><!-- / widget -->
                <!-- / third widget -->

                <div class="col-md-4 widget">
                    <div class="widget-title">
                        <h5>联系我们</h5>
                    </div>
                    <div class="contact-widget">
                        <div class="info">
                            <img style="float: left; width: 112px;height: 112px;" src="/images/qrcode.jpg"></img>
                            <img style="float: left; width: 112px;height: 112px; margin-left: 30px;" src="/images/qr.jpg"></img>
                        </div>
                    </div><!-- / contact-widget -->
                </div><!-- / widget -->
                <!-- / fourth widget -->

            </div><!-- / row -->
        </div><!-- / container -->
    </div><!-- / widget-area -->
    <div class="footer-info">
        <div class="container">
                <div class="pull-left copyright">
                    <p><strong>Copyright @ 2016-2017 北京云淘科技有限公司版权所有</strong></p>
                </div>
<!--                 <span class="pull-right">
                    <img src="/images/visa.png" alt="">
                    <img src="/images/mastercard.png" alt="">
                    <img src="/images/discover.png" alt="">
                    <img src="/images/paypal.png" alt="">
                </span> -->
        </div><!-- / container -->
    </div><!-- / footer-info -->
</footer>
<!-- / footer